.wrapper{
    min-height: 100vh;
    width: 1250px;

    .title{
        margin: 30px 0px;
        text-align: center;

        span{
            color: rgba($color: #c88f8f, $alpha: 1.0);

        }
    }
    
    .apps-container{
        margin-top: 40px;

        .head{
            vertical-align: middle;

            .head__checkbox{
                text-align: center;
            }

            .head__index{
                text-align: center;
            }

            .head__image{
                text-align: center;
            }

            .head__name{
                text-align: center;
            }

            .head__download-link{
                text-align: center;
            }
        }

        .body{
            vertical-align: middle;

            .body__checkbox{
                vertical-align: middle;
                text-align: center;
            }

            .body__index{
                vertical-align: middle;
            }
    
            .body__image{
                width: 150px;
                padding: 25px;
                margin: 0px auto;
    
                img{
                    width: 150px;
                    border-radius: 25px;
                }
            }
    
            .body__name{
                text-align: center;
                vertical-align: middle;
    
            }
    
            .body__download-link{
                text-align: center;
                color: rgba($color: #e39696, $alpha: 1.0);
                vertical-align: middle;
                padding: 40px;
                
                img{
                    display: block;
                    width: 200px;
                    margin: 0px auto;
                }
    
            }

            .message{
                color: rgba($color: #e39696, $alpha: 1.0);
                text-align: center;
            }
        }
    }
}
// ======responsive for both mobiles and tablets===================
@media only screen and (min-width: 320px) and (max-width: 1024px) {
    .wrapper{
        width: 100%;
        padding: 0px 10px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .title{
            font-size: 15px;
        }

        .delete-btn{
            font-size: 15px;
        }
        
        .apps-container{
            font-size: 15px;
    
            .head{
                .head__name{
                    display: none;
                }
            }
    
            .body{
                font-size: 14px;

                .body__image{
                    img{
                        width: 70px;
                    }
                }
        
                .body__name{
                    display: none;
                }
        
                .body__download-link{
                    padding: 10px;

                    img{
                        width: 100px;
                    }
        
                }
    
                .message{
                    font-size: 14px;
                }
            }
        }
    }
}

// ======responsive for tablets===================
@media only screen and (min-width: 768px) and (max-width: 1293px) {
    .wrapper{
        width: 100%;
        padding: 0px 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        .apps-container{
            width: 90%;
            
            .body{
                .body__download-link{
                    padding: 10px;

                    img{
                        width: 150px;
                    }
        
                }
            }
        }
    }
}