.wrapper{
    background-color: white;
    min-width: 180px;
    border-radius: 3px;
    border: solid 1px #cfcece;

    .menu-header{
        background-color: rgba($color: #f6f6f6, $alpha: 1.0);
        border: none;
        min-width: 180px;
        min-height: 35px;
        display: flex;
        align-items: center;
        justify-content: start;
    
        .header-icon{
            margin-right: 20px;
        }
    }

    .setting-btn{
        text-decoration: none;
        color: black;
        font-size: 14px;
        min-width: 180px;
        min-height: 35px;
        display: flex;
        justify-content: start;
        align-items: center;
        cursor: pointer;
        background-color: transparent;
        border: none;
        text-indent: 10px;
        padding: 0px 10px;

        &:hover{
            background-color: #9085a9;
        }
    }
    
}
