.wrapper{
    background-color: white;
    min-width: 180px;
    border-radius: 3px;
    border: solid 1px #cfcece;

    .menu-header{
        background-color: rgba($color: #f6f6f6, $alpha: 1.0);
        border: none;
        min-width: 180px;
        min-height: 35px;
        display: flex;
        align-items: center;
        justify-content: start;
    
        .header-icon{
            margin-right: 20px;
        }
    }

    .setting-btn{
        text-decoration: none;
        color: black;
        font-size: 14px;
        min-width: 180px;
        min-height: 35px;
        display: flex;
        justify-content: start;
        align-items: center;
        cursor: pointer;
        background-color: transparent;
        border: none;
        text-indent: 10px;
        padding: 0px 10px;

        &:hover{
            background-color: #9085a9;
        }
    }
}

// =====================responsive for both mobiles and  tablets=======================
@media only screen and (min-width: 320px) and (max-width: 1024px) {
    .wrapper{
        min-width: 100px;
        .menu-header{
            min-width: 100%;
            min-height: 30px;
            font-size: 11px;
        
            .header-icon{
                margin-right: 10px;
            }
        }
    
        .setting-btn{
            font-size: 10px;
            min-width: 100%;
            min-height: 25px;
    
            &:hover{
                background-color: #9085a9;
            }
        }
    }
}
