.wrapper{
    background-color: white;
    min-width: 150px;
    border-radius: 3px;
    border: solid 1px #cfcece;

    .log-out-btn{
        background-color: transparent;
        border: none;
        cursor: pointer;
        width: 100%;
        min-height: 30px;
        font-size: 15px;
        
        &:hover{
            background-color: #9085a9;
        }
    }

    .setting-btn{
        text-decoration: none;
        color: black;
        font-size: 15px;
        width: 100%;
        min-height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover{
            background-color: #9085a9;
        }
    }
    
}
