.wrapper{
    width: 1250px;
    min-height: 100vh;

    .head{
        display: flex;
        background-color: rgba($color: #ffffff, $alpha: 1.0);
        border-radius: 7px;
        margin: 20px 0px;
        padding: 25px;
        position: relative;

        .image-container{
            display: flex;
            align-items: center;
            margin-right: 35px;

            .head__image{
                width: 200px;
                margin: 0px auto;
                height: auto;
            }
        }

        .head__infor{
            display: flex;
            justify-content: space-evenly;
            width: 100%;

            div{
                font-size: 18px;
                margin-right: 25px;
                div{
                    span{
                        color: rgba($color: #c88f8f, $alpha: 1.0);
                    }
                }
            }
        }
        
        .head__btn-group{
            position: absolute;
            right: 5%;
            bottom: 10%;
            min-width: 21%;
        
            .head__delete-btn{
                margin-left: 3%;
            }
        }
    }

    .carousel{
        img{
            height: 400px;
        }
    }

    .general-infor{
        background-color: rgba($color: #ffffff, $alpha: 1.0);
        padding: 15px;
        border-radius: 7px;
        margin: 20px 0px 0px 0px;

        .title{
            padding: 15px;
            margin-bottom: 15px;
            display: flex;
            align-items: center;
            font-weight: bolder;        
        }

        .about{
            text-indent: 50px;
        }
    }

    .apps-developed {        
        margin-top: 20px;
        background-color: white;
        padding: 20px 0px 35px 0px;
        position: relative;

        .title{
            padding: 15px;
            margin-bottom: 15px;
            display: flex;
            align-items: center;
            font-weight: bolder;
        }

        .app-container{
            border: 0px;
            padding: 20px 0px;
            cursor: pointer;

            &:hover{
                background-color: rgba($color: #f2f2f2, $alpha: 1.0);
            }   
            // Link tag
            a{
                display: block;
                text-decoration: none;
                color: black;
                display: flex;
                flex-direction: column;
                align-items: center;

            }

            .app-image{
                width: 150px;
                margin: 0px auto;
                border-radius:  15px;
            }

            .app-name{
                text-align: center;
            }
        }

        //  a message is prined out when there is no app 
        .message{
            text-indent: 50px;
        }
        // go to more apps button
        .more-apps{
            height: auto;
            position: absolute;
            right: 0%;
            bottom: 3%;
            width: 10%;

            span{
                margin-right: 3%;
            }
        }
    }

    .apps-owned{
        padding: 15px;
        margin-top: 20px;
        background-color: white;
        position: relative;

        .title{
            padding: 15px;
            margin-bottom: 15px;
            display: flex;
            align-items: center;
            font-weight: bolder;
        }

        .apps-wrapper{

            .app-container{
                border: 0px;
                margin: 0px;
                padding: 20px 0px;
                cursor: pointer;

                &:hover{
                    background-color: rgba($color: #f2f2f2, $alpha: 1.0);
                }

                 // Link tag
                a{
                    display: block;
                    text-decoration: none;
                    color: black;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .app-image{
                        width: 150px;
                        margin: 0px auto;
                        border-radius:  15px;
                    }
        
                    .app-name{
                        text-align: center;
                    }
                }

            }
        }

        //  a message is prined out when there is no app 
        .message{
            text-indent: 50px;
        }

        // go to more apps button
        .more-apps{
            height: auto;
            position: absolute;
            right: 0%;
            bottom: 3%;
            width: 10%;

            span{
                margin-right: 3%;
            }
        }
    }
}
// ======responsive for both mobiles and tablets===================
@media only screen and (min-width: 320px) and (max-width: 1024px) {
    .wrapper{
        width: 100%;
        padding: 0px 10px;

        .head{
            padding: 10px;
            display: block;
            position: unset;

            .image-container{
                margin: 0px;
                margin-bottom: 20px;

                .head__image{
                    width: 120px;
                }
            }

            .head__infor{
                display: block;
                text-align: center;
                
                div{
                    margin: 0px;
                    margin-bottom: 5px;
                    word-wrap: break-word;
                    font-size: 15px;

                    &:last-child{
                        margin: 0px;
                    }
                }
            }

            .head__btn-group{
                width: 90%;
                margin: 0px auto;
                margin-top: 30px;
                display: flex;
                justify-content: center;
                position: unset;
                
                .head__delete-btn{
                    font-size: 15px;
                }

                .head__update-btn{
                    margin-right: 5px;
                    font-size: 15px;
                }
            }
        }
        
        .carousel{
            img{
                height: 200px;
            }
        }

        .general-infor{
            font-size: 15px;
            height: 200px;
            overflow-y: scroll;

            .title{
                font-size: 15px;
                padding: 0px;
            }
        }

        .apps-developed{
            .title{
                font-size: 15px;
            }

            .app-container{
                padding: 10px 0px 0px 0px;

                a{
                    .app-image{
                        width: 120px;
                    }
    
                    .app-name{
                        padding: 0px;
                        margin-top: 5px;
                        
                        div{
                            font-size: 15px;
                        }
                    }
                }
            }
        }

        .apps-owned{
            .title{
                font-size: 15px;
            }

            .apps-wrapper{
                .app-container{
                    padding: 10px 0px 0px 0px;
    
                    a{
                        .app-image{
                            width: 120px;
                        }
        
                        .app-name{
                            padding: 0px;
                            margin-top: 5px;

                            div{
                                font-size: 15px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1155px) {
    .wrapper{
        .head{
            .head__btn-group{
                min-width: 25%;
            }
        }
    }
}   

@media only screen and (min-width: 576px) and (max-width: 1024px) {
    .wrapper{
        .carousel{
            img{
                height: 350px;
            }
        }
    }

}
// ================responsive for mobiles============================
@media only screen and (min-width: 336px) and (max-width: 426px) {
    .wrapper{
        .carousel{
            img{
                height: 200px;
            }
        }
    }
}

@media only screen and (min-width: 427px) and (max-width: 576px) {
    .wrapper{
        .carousel{
            img{
                height: 250px;
            }
        }
    }
}



