.content{
    margin-top: 50px;
    height: auto;
    width: 1250px;
    background-color: rgba($color: #f1f1f1, $alpha: 1.0); 
    
    .apps-container{
        .title{
            text-transform: uppercase;
            font-weight: bolder;
            font-size: 22px;
            margin-bottom: 20px;
        }

        .app{
            margin-right: 15px;
            background-color:rgb(252, 252, 252);
            border-radius: 13px;
            border: 0px;
            cursor: pointer;
            position: relative;
            overflow: hidden;
            box-shadow: 0px 0px 2px rgba($color: #dfdfdf, $alpha: 1.0);

            &:hover{
                .app-details-button{
                    visibility: visible;
                    top: 40%;
                    opacity: 1;
                }

                &::after{
                    display: block;
                }

            }

            &:last-child{
                margin-right: 0;
            }
            
            .app-state{
                display: flex;
                justify-content: end;

                // when app is new
                .app-state__new{
                    z-index: 5;
                    width: 50px;
                    margin: 5px 5px 5px 0px;
                }
                // when app is not new
                .app-state__old{
                    visibility: hidden;
                    width: 50px;
                    margin: 5px 5px 5px 0px;

                    
                }
            }
            
            .app-image{
                width: 100px;
                border-radius: 10px;
                margin: 10px auto;
            }

            .app-body{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;

                .app-title{
                    font-weight: bolder;
                    font-size: 18px;
                    text-align: center;
                    margin-bottom: 10px;
                }

                div{
                    display: flex;
                    flex-direction: column;
                    align-items: center;                    

                    .app-description{
                        margin: 15px 0px;
                        height: 100px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }

            &::after{
                content: '';
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0px;
                left: 0px;
                background-color: rgba(218, 218, 218, 0.638);
                display: none;
            }

            .app-details-button{
                position: absolute;
                background-color: #ffffff;
                border: none;
                box-shadow: 0px 0px 2px rgba($color: #e39696, $alpha: 1.0);
                padding: 10px;
                border-radius: 5px;
                top: 60%;
                left: 35%;
                visibility: hidden;
                opacity: 0;
                transition: 0.5s;
                z-index: 2;
                text-decoration: none;

                &:hover{
                    background-color: rgba(19, 19, 19, 0.585);
                    color: white;
                }
            }
        }
    }
  
    .categories-container{
        margin: 40px 0px;
        display: flex;
        justify-content: space-between;

        .categories{
            .title{
                font-size: 22px;
                font-weight: bolder;
                margin-bottom: 20px;
            }
            .each-category{
                margin-bottom: 10px;
            }
        }

        .sorted-apps{
            width: 80%;
            border-radius: 10px;
            position: relative;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}