.content{
    margin-top: 50px;
    width: 1250px;
    background-color: rgba($color: #f1f1f1, $alpha: 1.0);

    .apps-wrapper{
        background-color: white;
        border-radius: 10px;
        padding-bottom: 15px;
        position: relative;

        .title{
            padding: 15px 0px 5px 0px;
            width: 1080px;
            margin: 0px auto;
            text-transform: uppercase;
            font-size: 25px;
            font-weight: bolder;
        }

        .app-turn-left-btn{
            left: 1.5%;
            display: none;
        }

        .app-turn-left-btn, .app-turn-right-btn{
            position: absolute;
            top: 50%;
            width: 60px;
            height: 60px;
            transform: translateY(-30%);
            background-origin: border-box;
            border: none;
            color: white;
            font-size: 25px;
            border-radius: 999px;
            background-color:rgba(119, 119, 119, 0.589);
            cursor: pointer;
            
            &:hover{
                background-color:rgba(45, 45, 45, 0.589);

            }
        }

        .apps-list{
            margin: 0px auto;
            width: 1080px;
            overflow-x: hidden;
            padding-left: 1px;

            .track{
                padding-left: 0px;
                display: flex;
                justify-content: start;
                transition: 0.5s;
                
                .app{
                    position: relative;
                    min-width: 258px;
                    margin-right: 15px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    background: rgba($color: #ffffff, $alpha: 1.0);
                    padding: 10px;
                    border-radius: 15px;
                    box-shadow: 0px 0px 3px rgba($color: #1b2a5f, $alpha: 1.0);
                    cursor: pointer;
                    transition: 0.2s ;
    
    
                    &:hover{
                        &::after{
                            content: '';
                            height: 100%;
                            width: 100%;
                            position: absolute;
                            top: 0px;
                            border-radius: 15px;
                            background-color:rgba(0, 0, 0, 0.681);
                            z-index: 1;
                        }
                        
                        .app__details{
                            visibility: visible;
                            transform: translateY(-50%);
                            opacity: 1;
                            z-index: 2;
                        }
                    }
    
                    &:last-child{
                        margin-right: 0px;
                    }
    
                    .app__image{
                        width: 80px;
                        border-radius: 15px;
                        margin-bottom: 10px;
                    }
    
                    .app__name{
                        height: 40px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                        margin-bottom: 10px;
                        
                    }
    
                    .app__downloaded{
                        color: rgba($color: #bf8b5b, $alpha: 1.0);
                    }
    
                    .app__details{
                        position: absolute;
                        top: 50%;
                        transform: translateY(50%);
                        border: solid 1px rgb(99, 99, 99);
                        border-radius: 99px;
                        padding: 10px 20px;
                        background-color: #ffffff;
                        visibility: hidden;
                        transition: 0.2s ease;
                        opacity: 0.1;
    
                    }
                
                }
            }
        }

        .app-turn-right-btn{
            right: 1.5%;
        }

    }
}