@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Source+Code+Pro:ital,wght@0,200;0,500;1,300;1,600;1,700&display=swap');
:root{
    --searchIconPadding: 10px;
    --searchIconFontsize: 18px;
    --searchContainerHeight: 40px;
    --login-form-wrapper-width: 650px;
    --login-form-wrapper-height: 400px;

    
}


*{
    box-sizing: border-box;
    font-family: 'Source Code Pro', monospace;
}