.wrapper{
    form{
        padding: 25px;

        .container{
            width: 100%;

            .container__infor{
                width: 100%;
                display: flex;
                align-items: center;
                border: 1px solid rgba($color: #dbdbdb, $alpha: 1.0);
                padding: 5px 3px;
                border-radius: 3px;
                margin: 5px 0px;

                input{
                    width: 100%;
                    margin-left: 3px;
                    border: 0px;
                    outline: 0px;
                }
            }

            .invalid-feedback{
                // height: 20px;
                color: rgb(218, 179, 179);
            }
        }

        .submit-btn{
            display: block;
            background-color: #31d2f2;
            width: 150px;
            padding: 10px 5px;
            border-radius: 10px;
            border: 0px;
            margin: 10px auto;

            &:hover{
                background-color: #21b0cd;
            }
        }
    }
}

@media only screen and (min-width: 320px) and (max-width: 400px) {
    .wrapper{
        form{
            padding: 10px;
            font-size: 15px;

            .container{
                .container__infor{

                    input{
                        font-size: 14px;
                    }
                }
            }
    
            .submit-btn{
                background-color: #31d2f2;
                width: 140px;
                padding: 8px 3px;
    
                &:hover{
                    background-color: #21b0cd;
                }
            }
        }
    }
}